
/* . 은 html의 class를 의미함 */
/* hidden의 class를 display하지 않는 것으로 공용으로 사용하기위함 */
.hidden {
    display: none;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: row;
    
}


/* #은 html의 id를 의미함 */
#clock{
    text-align: center;
    height:260px;
    font-size:9rem;
    margin:10px;
    margin-top: 10%;
    color:rgb(255, 255, 255);    
    padding:-100px;
}

#backgroudImage{
    position:absolute;
    left:0;
    top:0;
	max-width:100%;
    min-width:1880px;;
    max-height:1400px;
    min-height:1200px;
    z-index:-5;
    filter: brightness(60%);
}

#calendar{
    text-align: center;
    height:500px;
    width:500px;
    margin:10px;
    margin-left:15%;
    max-width:50%;
    color:rgb(255, 255, 255);    
    padding:-100px;
}
