.todo_container {
    flex-direction: column;
    margin-left: 15%;
    margin-top: 0;
    border-radius: 20px;
    border: 1rem solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 auto; /* 가로 방향으로 중앙 정렬 */

}

#cur_date {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2rem;

}

#todo-form {
    margin: 0 auto; /* 가로 방향으로 중앙 정렬 */

}

#todo-form input {
    text-align: center;
    color: white;
    font-size: 2rem;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    border: none;
    margin-bottom: 20px;
    margin-top: -50px;
    transition: all, 0.4s;
    width: 540px;

}

#todo-form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#todo-form input:hover::-webkit-input-placeholder {
    /*placeholder color change*/
    color: rgb(50, 50, 50);
}

#todo-form input:focus {
    outline: none;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
}


#todo-list {
    text-align: start;

}

#todo-list li {
    list-style: none;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 2rem;
    width: 540px;
    margin: 0 auto;

}

#todo-list li:hover {
    color: rgb(254, 167, 6);
}

#todo-list button {
    position: absolute;
    right: 17%;
    outline: none;
    color: rgb(253, 133, 111);
    font-weight: 700;
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 1.2rem;
}

#todo-list button:hover {
    cursor: pointer;
}